# PostgreSQL producción
DATABASE_URL=postgresql://usuario:PASSWORD@localhost:5432/miproyecto

# JWT
JWT_SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=480

# App
APP_NAME=Mi Portal
APP_VERSION=1.0.0
DEBUG=true
